@font-face {
  font-family: "SFUIDisplay";
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Bold.woff") format("woff"), url("../fonts/SFUIDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFUIDisplay";
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Light.woff") format("woff"), url("../fonts/SFUIDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFUIDisplay";
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Medium.woff") format("woff"), url("../fonts/SFUIDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFUIDisplay";
  font-display: swap;
  src: url("../fonts/SFUIDisplay-Regular.woff") format("woff"), url("../fonts/SFUIDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "SFUIDisplay";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "SFUIDisplay";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sk-double-bounce {
  width: 8em;
  height: 8em;
  position: relative;
  margin: auto;
}

.sk-double-bounce .sk-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #337ab7;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-double-bounce 2s infinite ease-in-out;
          animation: sk-double-bounce 2s infinite ease-in-out;
}

.sk-double-bounce .sk-double-bounce-2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes sk-double-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-double-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.select-block {
  position: relative;
}

.select {
  position: relative;
  cursor: pointer;
}

.select.active .select-title__arrow {
  -ms-transform: rotate(540deg);
  -webkit-transform: rotate(540deg);
  transform: rotate(540deg);
}

.select.active .select-title {
  border-radius: 30px 5px 0px 0px;
}

.select .select-title {
  position: relative;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 30px;
  height: 100%;
  background-image: url("../img/icons/select-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.select .select-title__value {
  padding: 0 30px 0 20px;
  line-height: 43px;
}

.select .select-options {
  position: absolute;
  display: none;
  top: 45px;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: none;
  padding: 10px 30px 10px 20px;
  overflow: hidden;
  z-index: 10;
}

.select .select-options-list {
  padding: 0px 0px 0px 0px;
}

.select .select-options__value {
  color: rgba(0, 0, 0, 0.65);
  margin: 0px 0px 15px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.section {
  padding: 90px 0px 0px 0px;
}

._anim-items .slide-steps__num {
  transform: translate3d(-60%, 60%, 0px);
  -webkit-transform: translate3d(-60%, 60%, 0px);
  -ms-transform: translate3d(-60%, 60%, 0px);
  -o-transform: translate3d(-60%, 60%, 0px);
  -moz-transform: translate3d(-60%, 60%, 0px);
  opacity: 0;
}

._anim-try {
  transform: translate3d(0px, 120%, 0px);
  -webkit-transform: translate3d(0px, 120%, 0px);
  -ms-transform: translate3d(0px, 120%, 0px);
  -o-transform: translate3d(0px, 120%, 0px);
  -moz-transform: translate3d(0px, 120%, 0px);
  opacity: 0;
}

._anim-trx {
  transform: translate3d(120%, 0px, 0px);
  -webkit-transform: translate3d(120%, 0px, 0px);
  -ms-transform: translate3d(120%, 0px, 0px);
  -o-transform: translate3d(120%, 0px, 0px);
  -moz-transform: translate3d(120%, 0px, 0px);
  opacity: 0;
}

._anim-scale {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

._anim-trx._in-sight,
._anim-try._in-sight {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

._anim-scale._in-sight {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

._in-sight ._anim-try,
._in-sight ._anim-trx {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

._in-sight ._anim-scale {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

._in-sight .hero__dots {
  left: 50%;
  opacity: 1;
}

._in-sight .catalog-select-block {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

._in-sight .slide-steps__num {
  transform: translate3d(-60%, -60%, 0px);
  -webkit-transform: translate3d(-60%, -60%, 0px);
  -ms-transform: translate3d(-60%, -60%, 0px);
  -o-transform: translate3d(-60%, -60%, 0px);
  -moz-transform: translate3d(-60%, -60%, 0px);
  opacity: 0.7;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slick-slider .slick-slide {
  position: relative;
}

.slick-vertical .slick-slider .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 49;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  margin: 0px 20px 0px 0px;
  z-index: 51;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.header__logo._in-sight {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 450px;
          flex: 0 0 450px;
}

.header__contacts {
  position: relative;
  z-index: 51;
}

.header__phone {
  margin: 0px 0px 10px 0px;
}

.header__office-hours {
  margin: 0px 10px 0px 0px;
}

.menu__body {
  position: relative;
  z-index: 51;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  position: relative;
  margin: 0px 2.08333% 0px 0px;
  border-bottom: 1px solid rgba(68, 121, 188, 0.75);
}

.menu__list li:nth-child(1) {
  -webkit-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
}

.menu__list li:nth-child(2) {
  -webkit-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}

.menu__list li:nth-child(3) {
  -webkit-transition: all 0.4s ease 0.6s;
  -o-transition: all 0.4s ease 0.6s;
  transition: all 0.4s ease 0.6s;
}

.menu__list li:nth-child(4) {
  -webkit-transition: all 0.4s ease 0.8s;
  -o-transition: all 0.4s ease 0.8s;
  transition: all 0.4s ease 0.8s;
}

.menu__list li:nth-child(5) {
  -webkit-transition: all 0.4s ease 1s;
  -o-transition: all 0.4s ease 1s;
  transition: all 0.4s ease 1s;
}

.menu__list li:nth-child(6) {
  -webkit-transition: all 0.4s ease 1.2s;
  -o-transition: all 0.4s ease 1.2s;
  transition: all 0.4s ease 1.2s;
}

.menu__list li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.icon-menu {
  display: none;
  position: relative;
  width: 25px;
  height: 21px;
  cursor: pointer;
  z-index: 51;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 9px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #4479bc;
  border-radius: 20%;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.icon-menu.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 9px;
}

.icon-menu.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 9px;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts-header__top {
  -webkit-transition: all 0.3s ease 1.3s;
  -o-transition: all 0.3s ease 1.3s;
  transition: all 0.3s ease 1.3s;
}

.contacts-header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 1.5s;
  -o-transition: all 0.3s ease 1.5s;
  transition: all 0.3s ease 1.5s;
}

.phone {
  display: block;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.office-hours {
  position: relative;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  cursor: default;
}

.office-hours:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 50%;
  left: -5px;
  transform: translate3d(-100%, -50%, 0px);
  -webkit-transform: translate3d(-100%, -50%, 0px);
  -ms-transform: translate3d(-100%, -50%, 0px);
  -o-transform: translate3d(-100%, -50%, 0px);
  -moz-transform: translate3d(-100%, -50%, 0px);
  background-color: #008e30;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 50%;
}

.office-hours_close {
  color: #c83434;
}

.office-hours_close:before {
  background-color: #c83434;
}

.social__icon {
  width: 15px;
  margin: 0px 2px 0px 0px;
}

.social__icon img {
  max-width: 100%;
}

.no-webp .hero {
  background-image: url(../img/hero/house.jpg); }

.hero {
  position: relative;
  width: 100%;
  padding: 70px 0px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.hero__dots {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0px);
  -webkit-transform: translate3d(-50%, -50%, 0px);
  -ms-transform: translate3d(-50%, -50%, 0px);
  -o-transform: translate3d(-50%, -50%, 0px);
  -moz-transform: translate3d(-50%, -50%, 0px);
  z-index: 10;
  padding: 0px 0px 0px 10px;
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.8s ease 1.3s;
  -o-transition: all 0.8s ease 1.3s;
  transition: all 0.8s ease 1.3s;
}

.hero__dot {
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 30px;
  margin: 0px 0px 14px 0px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.hero__dot.slick-active {
  height: 19px;
}

.hero__dot:last-child {
  margin: 0px 0px 0px 0px;
}

.hero__dot button {
  font-size: 0;
}

.hero__slider {
  width: 100%;
  margin: 0px 0px 0px 40px;
  -webkit-transition: all 0.8s ease 1.4s;
  -o-transition: all 0.8s ease 1.4s;
  transition: all 0.8s ease 1.4s;
}

.hero__slick-list {
  max-width: 600px;
}

.slide-hero {
  position: relative;
  max-width: 600px;
  color: #ffffff;
  padding: 115px 0px 170px 0px;
}

.slide-hero__tag {
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin: 0px 0px 25px 0px;
}

.slide-hero__title {
  font-size: 48px;
  line-height: 115%;
  max-width: 485px;
  margin: 0px 0px 30px 0px;
}

.slide-hero__title span {
  font-weight: 700;
}

.slide-hero__desc {
  font-size: 14px;
  line-height: 150%;
  max-width: 355px;
}

.team {
  padding: 90px 0px 0px 0px;
}

.team__title {
  text-align: center;
  margin: 0px 0px 22px 0px;
}

.team__desc {
  max-width: 565px;
  text-align: center;
  margin: 0 auto 50px auto;
}

.team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

.title {
  font-weight: 500;
  font-size: 36px;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.desc {
  color: rgba(0, 0, 0, 0.7);
  line-height: 150%;
  -webkit-transition: all 0.6s ease 0.4s;
  -o-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s;
}

.card-team {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-team:nth-child(1) {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.4s ease 0.25s;
  -o-transition: all 0.4s ease 0.25s;
  transition: all 0.4s ease 0.25s;
}

.card-team:nth-child(1) .card-team__img {
  -webkit-transition: all 0.2s ease 0.1s;
  -o-transition: all 0.2s ease 0.1s;
  transition: all 0.2s ease 0.1s;
}

.card-team:nth-child(1) .card-team__img {
  -webkit-transition: all 0.2s ease 0.35s;
  -o-transition: all 0.2s ease 0.35s;
  transition: all 0.2s ease 0.35s;
}

.card-team:nth-child(2) {
  -webkit-transition: all 0.4s ease 0.5s;
  -o-transition: all 0.4s ease 0.5s;
  transition: all 0.4s ease 0.5s;
}

.card-team:nth-child(2) .card-team__img {
  -webkit-transition: all 0.2s ease 0.6s;
  -o-transition: all 0.2s ease 0.6s;
  transition: all 0.2s ease 0.6s;
}

.card-team__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.84034%;
          flex: 0 0 40.84034%;
  margin: 0px 20px 0px 0px;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.card-team__img img {
  max-width: 100%;
  border-radius: 5px;
}

.card-team__title {
  font-size: 24px;
  margin: 0px 0px 5px 0px;
}

.card-team__position {
  display: block;
  font-weight: 300;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.4);
  margin: 0px 0px 20px 0px;
}

.card-team__desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.materials__title {
  margin: 0px 0px 60px 0px;
}

.item-materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-materials__img {
  position: relative;
  margin: 0px 40px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.02564%;
          flex: 0 0 41.02564%;
  height: 369px;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.item-materials__img svg {
  max-width: 100%;
}

.item-materials__trigger {
  -webkit-transition: all 5s ease 0s;
  -o-transition: all 5s ease 0s;
  transition: all 5s ease 0s;
  cursor: pointer;
}

.item-materials__title {
  font-weight: 500;
  font-size: 24px;
  margin: 0px 0px 35px 0px;
  -webkit-transition: all 0.4s ease 0.35s;
  -o-transition: all 0.4s ease 0.35s;
  transition: all 0.4s ease 0.35s;
}

.item-materials__desc {
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.7);
  margin: 0px 0px 50px 0px;
  -webkit-transition: all 0.4s ease 0.55s;
  -o-transition: all 0.4s ease 0.55s;
  transition: all 0.4s ease 0.55s;
}

.item-materials__mark {
  font-weight: 500;
  font-size: 15px;
  -webkit-transition: all 0.4s ease 0.75s;
  -o-transition: all 0.4s ease 0.75s;
  transition: all 0.4s ease 0.75s;
}

.tooltip-materials-item {
  position: absolute;
  width: 299px;
  max-width: 299px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  -webkit-transform: translate3d(-50%, -50%, 0px);
  -ms-transform: translate3d(-50%, -50%, 0px);
  -o-transform: translate3d(-50%, -50%, 0px);
  -moz-transform: translate3d(-50%, -50%, 0px);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background-color: #fff;
  border-radius: 3px;
  padding: 40px 50px;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.tooltip-materials-item.active {
  opacity: 1;
}

.tooltip-materials-item.active .tooltip-materials-item__num {
  transform: translate3d(0px, 10%, 0px);
  -webkit-transform: translate3d(0px, 10%, 0px);
  -ms-transform: translate3d(0px, 10%, 0px);
  -o-transform: translate3d(0px, 10%, 0px);
  -moz-transform: translate3d(0px, 10%, 0px);
}

.tooltip-materials-item__desc {
  font-size: 14px;
}

.tooltip-materials-item__num {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate3d(0px, 30%, 0px);
  -webkit-transform: translate3d(0px, 30%, 0px);
  -ms-transform: translate3d(0px, 30%, 0px);
  -o-transform: translate3d(0px, 30%, 0px);
  -moz-transform: translate3d(0px, 30%, 0px);
  font-weight: 700;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0.13s;
  -o-transition: all 0.3s ease 0.13s;
  transition: all 0.3s ease 0.13s;
}

.catalog__title {
  margin: 0px 0px 40px 0px;
}

.catalog__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 40px 0px;
}

.catalog__search {
  -webkit-transition: all 0.4s ease 0.83s;
  -o-transition: all 0.4s ease 0.83s;
  transition: all 0.4s ease 0.83s;
}

.catalog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  margin: 0px 0px 35px 0px;
}

.btn-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4479bc;
  color: #ffffff;
  border-radius: 5px;
  padding: 0 23px;
}

.btn-search svg {
  margin: 0px 10px 0px 0px;
}

.card-catalog {
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.card-catalog:nth-child(1) {
  -webkit-transition: all 0.5s ease 0.25s;
  -o-transition: all 0.5s ease 0.25s;
  transition: all 0.5s ease 0.25s;
}

.card-catalog:nth-child(2) {
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.card-catalog:nth-child(3) {
  -webkit-transition: all 0.5s ease 0.75s;
  -o-transition: all 0.5s ease 0.75s;
  transition: all 0.5s ease 0.75s;
}

.card-catalog:nth-child(4) {
  -webkit-transition: all 0.5s ease 1s;
  -o-transition: all 0.5s ease 1s;
  transition: all 0.5s ease 1s;
}

.card-catalog:nth-child(5) {
  -webkit-transition: all 0.5s ease 1.25s;
  -o-transition: all 0.5s ease 1.25s;
  transition: all 0.5s ease 1.25s;
}

.card-catalog:nth-child(6) {
  -webkit-transition: all 0.5s ease 1.5s;
  -o-transition: all 0.5s ease 1.5s;
  transition: all 0.5s ease 1.5s;
}

.card-catalog:nth-child(7) {
  -webkit-transition: all 0.5s ease 1.75s;
  -o-transition: all 0.5s ease 1.75s;
  transition: all 0.5s ease 1.75s;
}

.card-catalog__img img {
  max-width: 100%;
}

.card-catalog__body {
  padding: 0px 20px 0px 20px;
}

.card-catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.card-catalog__row:last-child {
  border: none;
}

.card-catalog__title {
  font-weight: 500;
  font-size: 20px;
}

.card-catalog__price {
  color: rgba(0, 0, 0, 0.5);
}

.card-catalog__price span {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.card-catalog__info {
  font-weight: 500;
}

.card-catalog__info img {
  max-width: 100%;
  margin: 0px 6px 0px 0px;
}

.catalog-select-block {
  min-width: 150px;
  margin: 0px 20px 0px 0px;
  z-index: 50;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.catalog-select-block:nth-child(1) {
  -webkit-transition: all 0.4s ease 0.23s;
  -o-transition: all 0.4s ease 0.23s;
  transition: all 0.4s ease 0.23s;
}

.catalog-select-block:nth-child(2) {
  -webkit-transition: all 0.4s ease 0.46s;
  -o-transition: all 0.4s ease 0.46s;
  transition: all 0.4s ease 0.46s;
}

.catalog-select-block:nth-child(3) {
  -webkit-transition: all 0.4s ease 0.69s;
  -o-transition: all 0.4s ease 0.69s;
  transition: all 0.4s ease 0.69s;
}

.testimonials__title {
  margin: 0px 0px 30px 0px;
}

.testimonials__body {
  position: relative;
}

.testimonials__arrows {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate3d(-100%, 0px, 0px);
  -webkit-transform: translate3d(-100%, 0px, 0px);
  -ms-transform: translate3d(-100%, 0px, 0px);
  -o-transform: translate3d(-100%, 0px, 0px);
  -moz-transform: translate3d(-100%, 0px, 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.testimonials__arrows.inactive {
  pointer-events: none;
}

.testimonials__arrows.inactive .testimonials__arrow svg {
  opacity: 0;
}

.testimonials__arrow {
  width: 62px;
  height: 62px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.testimonials__arrow svg {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-testimonial {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0.3s;
  -o-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.slide-testimonial.hide .slide-testimonial__imgs .slide-testimonial__img {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.slide-testimonial.hide .slide-testimonial__imgs .slide-testimonial__img:first-child {
  -webkit-transform: translateX(-120%) !important;
      -ms-transform: translateX(-120%) !important;
          transform: translateX(-120%) !important;
}

.slide-testimonial.hide .slide-testimonial__imgs .slide-testimonial__img:last-child {
  -webkit-transform: translateX(120%) !important;
      -ms-transform: translateX(120%) !important;
          transform: translateX(120%) !important;
}

.slide-testimonial.hide .slide-testimonial__title {
  -webkit-transition: all 0.3s ease 0.4s;
  -o-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
  transform: translate3d(0px, -120%, 0px);
  -webkit-transform: translate3d(0px, -120%, 0px);
  -ms-transform: translate3d(0px, -120%, 0px);
  -o-transform: translate3d(0px, -120%, 0px);
  -moz-transform: translate3d(0px, -120%, 0px);
  opacity: 0;
}

.slide-testimonial.hide .slide-testimonial__desc {
  -webkit-transition: all 0.3s ease 0.55s;
  -o-transition: all 0.3s ease 0.55s;
  transition: all 0.3s ease 0.55s;
  transform: translate3d(0px, -120%, 0px);
  -webkit-transform: translate3d(0px, -120%, 0px);
  -ms-transform: translate3d(0px, -120%, 0px);
  -o-transform: translate3d(0px, -120%, 0px);
  -moz-transform: translate3d(0px, -120%, 0px);
  opacity: 0;
}

.slide-testimonial.hide .slide-testimonial__read-more {
  -webkit-transition: all 0.3s ease 0.7s;
  -o-transition: all 0.3s ease 0.7s;
  transition: all 0.3s ease 0.7s;
  transform: translate3d(0px, -120%, 0px);
  -webkit-transform: translate3d(0px, -120%, 0px);
  -ms-transform: translate3d(0px, -120%, 0px);
  -o-transform: translate3d(0px, -120%, 0px);
  -moz-transform: translate3d(0px, -120%, 0px);
  opacity: 0;
}

.slide-testimonial.hide .slide-testimonial__project {
  -webkit-transition: all 0.3s ease 0.85s;
  -o-transition: all 0.3s ease 0.85s;
  transition: all 0.3s ease 0.85s;
  transform: translate3d(0px, -120%, 0px);
  -webkit-transform: translate3d(0px, -120%, 0px);
  -ms-transform: translate3d(0px, -120%, 0px);
  -o-transform: translate3d(0px, -120%, 0px);
  -moz-transform: translate3d(0px, -120%, 0px);
  opacity: 0;
}

.slide-testimonial__imgs {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 100%;
  border-radius: 5px;
  margin: 0px 40px 0px 0px;
  overflow: hidden;
}

.slide-testimonial__img {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
}

.slide-testimonial__img img {
  width: 100%;
}

.slide-testimonial__body {
  position: relative;
  padding: 60px 0px 40px 0px;
}

.slide-testimonial__title {
  position: relative;
  display: inline-block;
  font-size: 18px;
  margin: 0px 0px 32px 0px;
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.slide-testimonial__title:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -10px;
  background-color: #4479bc;
}

.slide-testimonial__desc {
  font-size: 16px;
  line-height: 150%;
  max-width: 414px;
  margin: 0px 0px 10px 0px;
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  color: rgba(0, 0, 0, 0.75);
}

.slide-testimonial__read-more {
  display: block;
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.slide-testimonial__read-more svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-testimonial__project {
  position: absolute;
  bottom: 40px;
  font-weight: 300;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.steps__title {
  margin: 0px 0px 85px 0px;
}

.steps__body {
  position: relative;
}

.steps__nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0px, 0%, 0px);
  -webkit-transform: translate3d(0px, 0%, 0px);
  -ms-transform: translate3d(0px, 0%, 0px);
  -o-transform: translate3d(0px, 0%, 0px);
  -moz-transform: translate3d(0px, 0%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.steps__nav._in-sight {
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
  opacity: 1;
}

.steps__nav .slick-dots li {
  position: relative;
  margin: 0px 0px 20px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.steps__nav .slick-dots li:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
  background-color: #4479bc;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.steps__nav .slick-dots li:last-child {
  margin: 0px 0px 0px 0px;
}

.steps__nav .slick-dots li.slick-active {
  padding: 0px 0px 0px 23px;
}

.steps__nav .slick-dots li.slick-active:before {
  width: 18px;
}

.steps__nav .slick-dots li.slick-active button {
  color: #4479bc;
}

.steps__nav .slick-dots li button {
  font-size: 18px;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.steps__slider {
  margin: 0px 0px 0px 65px;
}

.steps__slick-list {
  overflow: unset !important;
}

.slide-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-steps__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.6385%;
          flex: 0 0 28.6385%;
  margin: 0px 8.4507% 0px 0px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.slide-steps__img img {
  max-width: 100%;
}

.slide-steps__body {
  position: relative;
}

.slide-steps__num {
  position: absolute;
  top: 0;
  color: #ffffff;
  font-size: 64px;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 1px rgba(0, 0, 0, 0.15), 0 -1px 1px rgba(0, 0, 0, 0.15);
  z-index: -1;
  transform: translate3d(-60%, -60%, 0px);
  -webkit-transform: translate3d(-60%, -60%, 0px);
  -ms-transform: translate3d(-60%, -60%, 0px);
  -o-transform: translate3d(-60%, -60%, 0px);
  -moz-transform: translate3d(-60%, -60%, 0px);
  -webkit-transition: all 0.4s ease 0.5s;
  -o-transition: all 0.4s ease 0.5s;
  transition: all 0.4s ease 0.5s;
  opacity: 0.7;
}

.slide-steps__title {
  font-weight: 500;
  font-size: 24px;
  color: #4479bc;
  margin: 0px 0px 30px 0px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.slide-steps__desc {
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.4s ease 0.25s;
  -o-transition: all 0.4s ease 0.25s;
  transition: all 0.4s ease 0.25s;
}

.guarantee__title {
  margin: 0px 0px 80px 0px;
}

.guarantee__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guarantee__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guarantee__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.guarantee__item:first-child {
  margin: 0px 0px 40px 0px;
}

.guarantee__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  text-align: center;
  -webkit-transition: all 0.4s ease 1s;
  -o-transition: all 0.4s ease 1s;
  transition: all 0.4s ease 1s;
}

.guarantee__img img {
  max-width: 80%;
}

.item-guarantee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-guarantee:nth-child(1) {
  -webkit-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
}

.item-guarantee:nth-child(2) {
  -webkit-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}

.item-guarantee:nth-child(3) {
  -webkit-transition: all 0.4s ease 0.6s;
  -o-transition: all 0.4s ease 0.6s;
  transition: all 0.4s ease 0.6s;
}

.item-guarantee:nth-child(4) {
  -webkit-transition: all 0.4s ease 0.8s;
  -o-transition: all 0.4s ease 0.8s;
  transition: all 0.4s ease 0.8s;
}

.item-guarantee__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 200px;
  background-image: url(../img/icons/circle.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  font-size: 18px;
  margin: 0px 0px 20px 0px;
}

.item-guarantee__num span {
  font-size: 100px;
}

.item-guarantee__desc {
  max-width: 262px;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.75);
}

.item-guarantee__img img {
  max-width: 100%;
}

.footer {
  margin: 90px 0px 0px 0px;
  padding: 40px 0px 0px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 40px 0px;
}

.footer__logo {
  margin: auto 0px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.footer__logo img {
  max-width: 100%;
}

.footer__col:nth-child(1) {
  -webkit-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
}

.footer__col:nth-child(2) {
  -webkit-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}

.footer__col:nth-child(3) {
  -webkit-transition: all 0.4s ease 0.6s;
  -o-transition: all 0.4s ease 0.6s;
  transition: all 0.4s ease 0.6s;
}

.footer__col:nth-child(4) {
  -webkit-transition: all 0.4s ease 0.8s;
  -o-transition: all 0.4s ease 0.8s;
  transition: all 0.4s ease 0.8s;
}

.footer__col:nth-child(5) {
  -webkit-transition: all 0.4s ease 1s;
  -o-transition: all 0.4s ease 1s;
  transition: all 0.4s ease 1s;
}

.footer__title {
  font-weight: 500;
  color: #181818;
  margin: 0px 0px 30px 0px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.footer__navlist li {
  margin: 0px 0px 15px 0px;
}

.footer__txt {
  font-size: 11px;
  color: #737373;
}

.footer__office-hours-list li {
  margin: 0px 0px 15px 0px;
}

.footer__contacts-list li {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  padding: 0px 0px 0px 22px;
  margin: 0px 0px 15px 0px;
}

.footer__phone {
  background-image: url(../img/icons/phone.svg);
}

.footer__mail {
  background-image: url(../img/icons/email.svg);
}

.footer__address {
  background-image: url(../img/icons/gps.svg);
}

.footer__mailing {
  margin: 0px 0px 20px 0px;
}

.footer__btn {
  background: none;
  font-weight: 700;
  font-size: 11px;
  text-align: right;
  color: #262626;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-icon {
  margin: 0px 20px 0px 0px;
}

.footer__social-icon svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__bottom {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.footer-office-hour__days {
  margin: 0px 0px 8px 0px;
}

.mailing__form {
  padding: 0px 0px 8px 0px;
  border-bottom: 1px solid #d4d4d4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mailing__form.err {
  border-color: #c83434;
}

.mailing__email {
  font-size: 11px;
  color: #8d8d8d;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.copyright {
  font-size: 13px;
  color: #969696;
  margin: 0px 0px 5px 0px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.made-by {
  font-size: 13px;
  color: #969696;
  -webkit-transition: all 0.3s ease 0.3s;
  -o-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.made-by__link {
  color: #4479bc;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 767.98px) {
  .select .select-options__value:hover {
    color: #000;
  }

  .menu__list li:hover:before {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .menu__list li:hover .menu__link {
    color: #4479bc;
  }

  .phone:hover {
    color: #4479bc;
  }

  .btn-search:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #78a1d4;
  }

  .testimonials__arrow:hover svg {
    opacity: 0.6;
  }

  .slide-testimonial__read-more:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #4479bc;
  }

  .slide-testimonial__read-more:hover svg path {
    stroke: #4479bc !important;
  }

  .footer__navlist li a:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #4479bc;
  }

  .footer__social-icon:hover svg path {
    fill: #636363;
  }

  .made-by__link:hover {
    color: #000000;
  }
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }

  .hero__dots {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header__logo {
    margin: 0px auto 0px 0px;
  }

  .header__menu {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0px 50px 0px 0px;
  }

  .menu__body {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: -100%;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 120px 0px 50px 0px;
    background-color: #ffffff;
    overflow: auto;
    z-index: 48;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  }

  .menu__body.active {
    left: 0;
  }

  .menu__list {
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__link {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }

  .icon-menu {
    display: block;
  }

  .hero__dots {
    max-width: 750px;
  }

  .card-team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .card-team__img {
    margin: 0px 20px 20px 0px;
  }

  .card-team__position {
    max-width: 197px;
  }

  .catalog__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .card-catalog__img img {
    max-width: none;
    width: 100%;
  }

  .testimonials__arrows {
    bottom: 20px;
  }

  .slide-testimonial__body {
    padding: 10px 0px 20px 0px;
  }

  .slide-testimonial__desc {
    font-size: 14px;
    max-width: 337px;
  }

  .slide-testimonial__project {
    bottom: 20px;
  }

  .steps__nav._in-sight {
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    -ms-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
  }

  .steps__nav {
    top: 0;
    left: auto;
    right: 0;
    transform: translate3d(0px, -50%, 0px);
    -webkit-transform: translate3d(0px, -50%, 0px);
    -ms-transform: translate3d(0px, -50%, 0px);
    -o-transform: translate3d(0px, -50%, 0px);
    -moz-transform: translate3d(0px, -50%, 0px);
  }

  .steps__nav .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .steps__nav .slick-dots li {
    margin: 0px 25px 0px 0px;
  }

  .steps__slider {
    margin: 0px 0px 0px 0px;
    padding: 40px 0px 0px 0px;
  }

  .guarantee__img {
    display: none;
  }

  .footer__col {
    margin: 0px 0px 35px 0px;
  }

  .mailing {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 0px 0px;
  }

  .mailing__title,
  .mailing__form {
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .section {
    padding: 60px 0px 0px 0px;
  }

  ._anim-items .slide-steps__num {
    transform: translate3d(0px, 40%, 0px);
    -webkit-transform: translate3d(0px, 40%, 0px);
    -ms-transform: translate3d(0px, 40%, 0px);
    -o-transform: translate3d(0px, 40%, 0px);
    -moz-transform: translate3d(0px, 40%, 0px);
  }

  ._in-sight .slide-steps__num {
    transform: translate3d(0px, -40%, 0px);
    -webkit-transform: translate3d(0px, -40%, 0px);
    -ms-transform: translate3d(0px, -40%, 0px);
    -o-transform: translate3d(0px, -40%, 0px);
    -moz-transform: translate3d(0px, -40%, 0px);
  }

  .header {
    height: 50px;
  }

  .header__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 0px 0px;
  }

  .header__office-hours {
    margin: 0px 0px 20px 0px;
  }

  .menu__body {
    height: 100%;
    padding: 100px 0px 0px 0px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    margin: 0px 0px 25px 0px;
  }

  .contacts-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 25px 0px;
  }

  .contacts-header__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social__icon {
    width: 20px;
    height: 20px;
  }

  .social__icon img {
    width: 20px;
  }

  .hero {
    padding: 50px 0px 0px 0px;
  }

  .hero__dots {
    max-width: none;
    padding: 0 10px;
  }

  .slide-hero {
    padding: 90px 0px;
  }

  .slide-hero__title {
    font-size: 34px;
  }

  .slide-hero__title span {
    font-weight: 400;
  }

  .team__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .team__card {
    max-width: 85%;
    margin: 0px 0px 30px 0px;
  }

  .team__card:last-child {
    margin: 0px 0px 0px 0px;
  }

  .card-team__position {
    font-size: 12px;
  }

  .card-team__desc {
    font-size: 14px;
  }

  .item-materials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-materials__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-height: 335px;
    margin: 0px 0px 0px 0px;
  }

  .testimonials__arrows {
    left: 100%;
    bottom: 194px;
  }

  .slide-testimonial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .slide-testimonial__imgs {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin: 0px 0px 40px 0px;
  }

  .slide-testimonial__body {
    padding: 0px 0px 0px 0px;
  }

  .slide-testimonial__project {
    display: none;
  }

  .slide-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slide-steps__img {
    margin: 0px 0px 40px 0px;
  }

  .slide-steps__num {
    transform: translate3d(0px, -40%, 0px);
    -webkit-transform: translate3d(0px, -40%, 0px);
    -ms-transform: translate3d(0px, -40%, 0px);
    -o-transform: translate3d(0px, -40%, 0px);
    -moz-transform: translate3d(0px, -40%, 0px);
  }

  .slide-steps__title {
    padding: 0px 0px 0px 60px;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin: 0 auto;
  }

  .footer__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .mailing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .mailing__title,
  .mailing__form {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 620px) {
  .catalog__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 479.98px) {
  .section {
    padding: 45px 0px 0px 0px;
  }

  .hero__dots {
    top: 70px;
    left: auto;
    right: 10px;
    width: auto;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    padding: 0;
  }

  .hero__slider {
    margin: 0px 0px 0px 0px;
  }

  .slide-hero {
    padding: 25px 0 40px 0;
  }

  .slide-hero__tag {
    font-size: 12px;
    margin: 0px 0px 15px 0px;
  }

  .slide-hero__title {
    font-size: 24px;
    margin: 0px 0px 15px 0px;
  }

  .slide-hero__title span {
    display: block;
  }

  .slide-hero__desc {
    font-size: 12px;
    max-width: 300px;
  }

  .team__card {
    max-width: none;
  }

  .card-team__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.66667%;
            flex: 0 0 37.66667%;
  }

  .card-team__title {
    font-size: 16px;
  }

  .card-team__position {
    max-width: 167px;
  }

  .item-materials__title {
    font-size: 18px;
    margin: 0px 0px 20px 0px;
  }

  .item-materials__desc {
    font-size: 14px;
  }

  .item-materials__mark {
    font-size: 13px;
  }

  .slide-steps__title {
    font-size: 18px;
  }

  .slide-steps__desc {
    font-size: 14px;
  }

  .guarantee__items {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .guarantee__item {
    margin: 0px 0px 40px 0px;
  }

  .footer__mailing {
    max-width: 50%;
  }

  .mailing__form {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none;
    padding: 0;
  }

  .mailing__email {
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 8px 0px;
    border-bottom: 1px solid #d4d4d4;
  }

  .mailing__email.err {
    border-color: #c83434;
  }
}

.webp .hero { background-image: url(../img/hero/house.webp); }